@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap");
body {
  background-color: black;
  font-family: "Spartan", sans-serif;
  font-weight: 400; }

.titulos {
  color: #DA70D6;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1em;
  padding-bottom: 1em; }
  @media all and (min-width: 992px) {
    .titulos {
      background-position: center; } }
  @media all and (min-width: 992px) {
    .titulos.titulosProducto {
      text-align: right;
      text-transform: uppercase; } }
  @media all and (min-width: 992px) {
    .titulos.titulosProductoLft {
      text-align: left;
      text-transform: uppercase; } }

.texto {
  color: white;
  line-height: 2;
  text-align: center;
  font-size: 0.8em; }
  .texto.textoSobreMi {
    min-width: 300px;
    width: 40%;
    margin: 10px auto;
    font-size: 1em; }
    @media all and (min-width: 992px) {
      .texto.textoSobreMi {
        width: 40%;
        margin: 20px 0px;
        padding: 50px 60px;
        line-height: 3; } }
  @media all and (min-width: 992px) {
    .texto.textoServicio {
      margin: 1em 4em;
      font-size: 1em; } }
  @media all and (min-width: 992px) {
    .texto.textoProductoRgt {
      text-align: right;
      font-size: 1em;
      line-height: 3; } }
  @media all and (min-width: 992px) {
    .texto.textoProductoLft {
      text-align: left;
      font-size: 1em;
      line-height: 3; } }

.contenedorNav {
  border-bottom: 1px solid white;
  background: #5b1ba3;
  background: linear-gradient(90deg, rgba(91, 27, 163, 0.717507) 0%, rgba(109, 96, 177, 0.935994) 31%, #8369bd 71%, rgba(54, 28, 128, 0.566247) 98%);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; }
  @media all and (min-width: 992px) {
    .contenedorNav {
      max-height: 100px; } }
  .contenedorNav li {
    list-style-type: none;
    padding: 0 10px; }
  .contenedorNav a {
    text-decoration: none;
    color: white;
    font-size: 1em; }

.contenedorLogo img {
  width: 34%;
  margin-left: 20px; }

@media all and (min-width: 992px) {
  .contenedorLogo {
    width: 200px;
    transform: translate(-50px, 50px); }
    .contenedorLogo img {
      width: 60%;
      margin-left: 85px; } }

.banner {
  min-width: 360px;
  height: 80vh;
  background-size: cover;
  background-position: center top;
  margin-top: 100px;
  margin-bottom: 50px; }
  .banner p {
    color: white;
    font-size: 1em;
    padding-top: 80px; }
  .banner.bHome {
    background-image: url("../media/horizonte_mob.jpg"); }
    .banner.bHome p {
      padding-top: 250px; }
  .banner.bAboutme {
    background-image: url("../media/flor-loto2_mob.jpg"); }
    .banner.bAboutme p {
      padding-top: 250px;
      text-shadow: 2px 2px 4px #B130CE; }
  .banner.bService {
    background-image: url("../media/reiki-servicio_mob.jpg"); }
    .banner.bService p {
      color: grey;
      text-shadow: 2px 2px 4px #0466CE; }
  .banner.bProduct {
    background-image: url("../media/banner-producto_mob.jpg"); }
    .banner.bProduct p {
      text-shadow: 2px 2px 4px #BFDB21; }
  @media all and (min-width: 650px) {
    .banner {
      min-height: 350px;
      height: 100vh;
      margin: 0px 0px 40px 0px;
      background-size: cover;
      background-position: center-top; }
      .banner p {
        color: white;
        font-size: 1.3em; }
      .banner.bHome {
        background-image: url("../media/horizonte.jpg");
        max-height: 750px; }
        .banner.bHome p {
          padding-top: 500px; }
      .banner.bAboutme {
        background-image: url("../media/flor-loto2.jpg"); }
        .banner.bAboutme p {
          width: 50%;
          margin-left: 30px;
          line-height: 40px;
          padding-top: 200px; }
      .banner.bService {
        background-image: url("../media/reiki-servicio.jpg");
        background-position: center;
        max-height: 789px; }
        .banner.bService p {
          width: 80%;
          color: grey;
          margin-left: 100px;
          line-height: 40px;
          padding-top: 200px; }
      .banner.bProduct {
        background-image: url("../media/banner-producto.jpg");
        background-position: center;
        max-height: 720px; }
        .banner.bProduct p {
          width: 40%;
          margin-left: 30px;
          line-height: 40px;
          padding-top: 300px; } }

#footer {
  min-height: 150px;
  max-height: 200px;
  border-top: 1px solid white;
  margin-top: 40px; }
  #footer ul {
    list-style: none;
    padding-right: 40px; }
  @media all and (min-width: 992px) {
    #footer {
      min-height: 500px; } }

.iconosRedes img {
  width: 30px; }
  @media all and (min-width: 992px) {
    .iconosRedes img {
      width: 60px; } }

.crownChakra {
  width: 80px; }
  @media all and (min-width: 992px) {
    .crownChakra {
      width: 256px; } }

.textFooter {
  color: white;
  font-style: italic; }

.bgOrquidea {
  background-image: url("../media/orquidea_footer1.png");
  background-position: center;
  background-size: cover;
  height: 200px;
  max-width: 330px; }
  @media all and (min-width: 992px) {
    .bgOrquidea {
      height: 500px;
      background-position: center;
      max-width: 740px; } }

#wsp {
  position: fixed;
  padding-bottom: 20px;
  padding-right: 20px;
  bottom: 0;
  right: 0; }

.fotoMndoEsp, .fotoEnerg, .fotoSanacion {
  background-position: right;
  background-size: cover;
  box-shadow: 1px 0px 7px 0px #fff;
  min-height: 350px; }
  .fotoMndoEsp.fotoMndoEsp, .fotoEnerg.fotoMndoEsp, .fotoSanacion.fotoMndoEsp {
    background-image: url("../media/mundo_espiritual.jpg"); }
  .fotoMndoEsp.fotoEnerg, .fotoEnerg.fotoEnerg, .fotoSanacion.fotoEnerg {
    background-image: url("../media/energia_espiritual.jpg"); }
  .fotoMndoEsp.fotoSanacion, .fotoEnerg.fotoSanacion, .fotoSanacion.fotoSanacion {
    background-image: url("../media/sanacion.jpg"); }

.miFoto {
  min-width: 150px;
  width: 30%;
  margin: auto; }
  .miFoto img {
    max-height: 480px; }
  @media all and (min-width: 992px) {
    .miFoto {
      width: 30%;
      margin: 20px 0px 20px 300px; } }

.tituloServicio {
  padding-top: 50px; }
  @media all and (min-width: 992px) {
    .tituloServicio {
      padding-top: 10px; } }

.iframe {
  box-sizing: border-box;
  width: 300px; }
  @media all and (min-width: 992px) {
    .iframe {
      margin-top: 1em;
      min-width: 560px; } }

.descripcionServicio {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: .7em; }
  @media all and (min-width: 992px) {
    .descripcionServicio {
      font-size: 1em; } }

.bloqueSup, .bloqueInf {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .bloqueSup p:hover, .bloqueInf p:hover {
    color: #DDA0DD;
    transform: scale(1.1); }

.iconOne {
  background-image: url("../media/third-eye-chakra-symbol.png"); }

.iconTwo {
  background-image: url("../media/throat-chakra-symbol.png"); }

.iconThree {
  background-image: url("../media/heart-chakra-symbol.png"); }

.iconFour {
  background-image: url("../media/solar-plexus-chakra-symbol.png"); }

.iconFive {
  background-image: url("../media/sacral-chakra-symbol.png"); }

.iconSix {
  background-image: url("../media/root-chakra-symbol.png"); }

.allIcons {
  background-position: center;
  background-size: cover;
  height: 140px;
  width: 140px; }
  @media all and (min-width: 992px) {
    .allIcons {
      height: 150px;
      width: 150px; } }

.imagenesProductos {
  padding-bottom: 80px; }
  .imagenesProductos h3 {
    color: #DA70D6;
    font-size: 1.5em;
    padding-top: 30px;
    text-align: center; }
  .imagenesProductos img {
    width: 300px; }
    .imagenesProductos img:hover {
      transform: scale(1.1);
      transition: all 500ms ease-in-out; }
    @media all and (min-width: 992px) {
      .imagenesProductos img {
        margin: 10px 0px; } }

.prodUno, .prodDos, .prodTres, .prodCuatro, .prodCinco, .prodSeis {
  background-position: center;
  background-size: cover;
  box-shadow: 1px 0px 7px 0px #fff;
  max-width: 300px;
  height: 300px;
  margin-bottom: 50px; }
  .prodUno.prodUno, .prodDos.prodUno, .prodTres.prodUno, .prodCuatro.prodUno, .prodCinco.prodUno, .prodSeis.prodUno {
    background-image: url("../media/kit_limpieza.png"); }
  .prodUno.prodDos, .prodDos.prodDos, .prodTres.prodDos, .prodCuatro.prodDos, .prodCinco.prodDos, .prodSeis.prodDos {
    background-image: url("../media/piedras_dijes.jpg"); }
  .prodUno.prodTres, .prodDos.prodTres, .prodTres.prodTres, .prodCuatro.prodTres, .prodCinco.prodTres, .prodSeis.prodTres {
    background-image: url("../media/agua_florida.jpg"); }
  .prodUno.prodCuatro, .prodDos.prodCuatro, .prodTres.prodCuatro, .prodCuatro.prodCuatro, .prodCinco.prodCuatro, .prodSeis.prodCuatro {
    background-image: url("../media/sahumos.jpg"); }
  .prodUno.prodCinco, .prodDos.prodCinco, .prodTres.prodCinco, .prodCuatro.prodCinco, .prodCinco.prodCinco, .prodSeis.prodCinco {
    background-image: url("../media/velas_1.jpg"); }
  .prodUno.prodSeis, .prodDos.prodSeis, .prodTres.prodSeis, .prodCuatro.prodSeis, .prodCinco.prodSeis, .prodSeis.prodSeis {
    background-image: url("../media/sahumerios.jpg"); }

.descripcionProductos {
  padding-top: 60px; }

.contentForm {
  padding-top: 120px; }
  @media all and (min-width: 992px) {
    .contentForm {
      margin-top: 110px;
      padding-top: 0px; } }

.formText {
  color: white; }

.button {
  width: 80px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  padding: 0px 10px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none; }

.formButton {
  background: #6009f0;
  background: linear-gradient(0deg, #6009f0 0%, #8105f0 100%);
  border: none; }
  .formButton:before {
    height: 0%;
    width: 2px; }
  .formButton:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4); }

@media all and (min-width: 992px) {
  .pictureForm {
    min-height: 500px;
    background-image: url("../media/chakras_all.png");
    background-position: center;
    background-size: cover;
    margin-top: 125px;
    padding-top: 0px;
    height: 65vh; }
  .textDestiny h4 {
    color: purple;
    font-size: 700; } }
