.uno, .dos, .tres{
	background-position: right;
	background-size: cover;
	box-shadow: 1px 0px 7px 0px #fff;
	min-height: 350px;
	&.uno{
		background-image: url("../media/mundo_espiritual.jpg");
	}
	&.dos{
		background-image: url("../media/energia_espiritual.jpg");
	}
	&.tres{
		background-image: url("../media/sanacion.jpg");
	}
}
.cuatro, .cinco, .seis{
	min-height: 350px
}