.fotoMndoEsp, .fotoEnerg, .fotoSanacion{
	background-position: right;
	background-size: cover;
	box-shadow: 1px 0px 7px 0px #fff;
	min-height: 350px;
	&.fotoMndoEsp{
		background-image: url("../media/mundo_espiritual.jpg");
	}
	&.fotoEnerg{
		background-image: url("../media/energia_espiritual.jpg");
	}
	&.fotoSanacion{
		background-image: url("../media/sanacion.jpg");
	}
}