.imagenesProductos{
	padding-bottom: 80px;
	h3{
		color: $color-titulos;
		font-size: 1.5em;
		padding-top: 30px;
		text-align: center;
	}
	img{
		width: 300px;
		&:hover{
			transform: scale(1.1);
			transition: all 500ms ease-in-out;
		}
		@media all and (min-width: 992px){
			margin: 10px 0px;
		}
	}
}
.prodUno, .prodDos, .prodTres, .prodCuatro, .prodCinco, .prodSeis{
	background-position: center;
	background-size: cover;
	box-shadow: 1px 0px 7px 0px #fff;
	max-width: 300px;
	height: 300px;
	margin-bottom: 50px;
	&.prodUno{
		background-image: url("../media/kit_limpieza.png");
	}
	&.prodDos{
		background-image: url("../media/piedras_dijes.jpg");
	}
	&.prodTres{
		background-image: url("../media/agua_florida.jpg");
	}
	&.prodCuatro{
		background-image: url("../media/sahumos.jpg");
	}
	&.prodCinco{
		background-image: url("../media/velas_1.jpg");
	}
	&.prodSeis{
		background-image: url("../media/sahumerios.jpg");
	}
}
.descripcionProductos{
	padding-top: 60px;
}