.miFoto{
	min-width:150px;
	width: 30%;
	margin: auto;
	img{
		max-height: 480px;
	}
	@media all and (min-width: 992px){
		width: 30%;
		margin: 20px 0px 20px 300px;
	}
}
.textoSobreMi{
	min-width: 300px;
	width: 40%;
	margin: 10px auto;
	@media all and (min-width: 992px){
		width: 40%;
		margin: 20px 0px;
		padding: 50px 60px;
	}
}